anyio
argon2-cffi
argon2-cffi-bindings
arrow
astropy
astropy-iers-data
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
filelock
flexcache
flexparser
fonttools
fqdn
fsspec
h11
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lark
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
svm
pandas
pandocfilters
parso
pexpect
pillow
Pint
platformdirs
plotly
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
pyerfa
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qutip
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
scipy
Send2Trash
setuptools
simpy
six
sniffio
soupsieve
stack-data
sympy
terminado
tinycss2
torch
torchaudio
torchvision
tornado
tqdm
traitlets
triton
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
vtk
wcwidth
webcolors
webencodings
websocket-client
sklearn
sklearn.preprocessing
